html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  background-color: black;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.hero {
  height: 800px;
  background-image: url(/img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  width: 829px;
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 134.09%;
  margin-bottom: 50px;
}

@media (min-device-pixel-ratio: 2) and (min-width: 1140px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1140px), (min-resolution: 192dpi) and (min-width: 1140px), (min-resolution: 2dppx) and (min-width: 1140px) {
  .hero {
    background-image: url(/img/hero@2x.jpg);
  }
}
.about-us {
  margin-top: 110px;
  margin-bottom: 105px;
  text-align: center;
}

.about-us__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
  margin-bottom: 32px;
  width: 739px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-us__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  margin-bottom: 70px;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-us__text {
  padding-top: 46px;
}

.about-us__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.about-us__item:not(:last-child) {
  margin-right: 30px;
}

.about-us__item {
  display: flex;
}

.about-us__icon {
  width: 40px;
  height: 40px;
  fill: #4985FF;
}

.about-us__subtitle {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 12px;
}

.about-us__subtext {
  width: 222px;
  font-size: 14px;
  font-weight: 400;
  line-height: 158.47%;
  text-align: left;
}

.about-us__circle-out {
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.about-us__circle-in {
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us__button {
  margin-left: auto;
  margin-right: auto;
}

.standarts {
  background-color: #F6F6F8;
  padding-top: 100px;
  padding-bottom: 70px;
}

.standarts__thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standarts__title {
  color: #323232;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
  margin-bottom: 60px;
  width: 424px;
}

.standarts__text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 158.47%;
  margin-bottom: 32px;
  width: 489px;
}

.standarts__link {
  color: #4985FF;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}

.standarts__list {
  border-top: 1px #E0E0E0 solid;
  padding-top: 70px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standarts__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.standarts__item:not(:last-child) {
  margin-right: 100px;
}

.standarts__item__number {
  font-size: 36px;
  line-height: 146.28%;
  color: #000000;
}

.standarts__item__text {
  font-size: 16px;
  color: #999;
}

.standarts__icon__number {
  display: flex;
  align-items: center;
}

.works {
  background: linear-gradient(180deg, #504dc2 60%, #fff 40%);
}

.works__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
  width: 540px;
}

.works__thumb__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding-top: 100px;
}

.works__list {
  display: flex;
  border-bottom: 1px solid #999;
  padding-bottom: 85px;
  margin-bottom: 85px;
}

.works__list:not(:last-child) {
  margin-right: 30px;
}

.works__image {
  margin-bottom: 30px;
}

.works__item__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.works__item__number {
  color: #4985FF;
}

.works__item__text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 158.47%;
  margin-bottom: 50px;
}

.works__item__link {
  color: #4985FF;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}

.main__btn {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #4985FF;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.main__btn:hover, .main__btn:focus {
  background-color: #254689;
}/*# sourceMappingURL=main.css.map */