.about-us {
    margin-top: 110px;
    margin-bottom: 105px;
    text-align: center;
}

.about-us__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 146.28%;
    margin-bottom: 32px;
    width: 739px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-us__paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
    margin-bottom: 70px;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.about-us__text {
    padding-top: 46px;
}

.about-us__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.about-us__item:not(:last-child) {
    margin-right: 30px;
}

.about-us__item {
    display: flex;



}

.about-us__icon {
    width: 40px;
    height: 40px;
    fill: #4985FF;
}

.about-us__subtitle {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 12px;
}

.about-us__subtext {
    width: 222px;
    font-size: 14px;
    font-weight: 400;
    line-height: 158.47%;
    text-align: left;
}

.about-us__circle-out {
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.about-us__circle-in {
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us__button {
    margin-left: auto;
    margin-right: auto;
}