.footer {
    background-color: #F6F6F8;
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {}

.footer__title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

.footer__list {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 70px;
}

.footer-link__item:not(:last-child) {
    margin-bottom: 20px;
}

.footer-link__item {
    color: #999;
    font-size: 14px;
    line-height: 158.47%;
}

.footer-contact__icon {
    width: 15px;
    height: 15px;
}

.footer-link__icon {
    width: 10px;
    height: 10px;
}

.footer__subtext {
    color: #999;
    font-size: 13px;
    line-height: 158.47%;
    text-align: center;
    padding-top: 30px;
}