  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  }

  @media screen and (max-width: 767px) {
    .mobile-menu__nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      background-color: #9b9b9b;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateX(100%);
    }

    .mobile-menu__nav.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
      transition: opacity 250ms ease-in, transform 300ms ease-out;
    }

    .burger-button {
      position: relative;
      z-index: 10;
      background-color: transparent;
      border: none;
      margin-left: auto;
      display: block;
    }

    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .hamRotate.active {
      transform: rotate(45deg);
    }

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #fff;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    .ham1 .top {
      stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
      stroke-dasharray: 40 180;
    }

    .ham1.active .top {
      stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
      stroke-dashoffset: -138px;
    }

    .nav__list {
      padding-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .nav__item:not(:last-child) {
      margin-bottom: 20px;
    }

    .nav__item {
      color: #fff;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    .burger-button {
      display: none;
    }

    .header {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .nav__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav__item {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }

    .nav__item:not(:last-child) {
      margin-right: 40px;
    }

    .mobile-menu__button-close {
      display: none;
    }
  }

  

  

  @media screen and (min-width: 1140px) {
    .header {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .nav__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .nav__item {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }

    .nav__item:not(:last-child) {
      margin-right: 40px;
    }
  }